[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imufusion = "*"
matplotlib = "*"
numpy = "==1.26.4"
scipy = "*"
meshcat = "*"
pykalman = "*"

[dev-packages]

[requires]
python_version = "3.12"
